// General styles
$jshownFontFamily 			= Consolas, 'Liberation Mono', Menlo, Courier, monospace
$jshownFontSize 			= 14px

// Info label
$jshownInfoFontSize 		= 14px
$jshownInfoColor			= darkgrey
$jshownInfoBackground		= whitesmoke

// Key
$jshownKeySymbolFontFamily	= Arial, sans-serif
$jshownKeySymbolFontSize	= 10px
$jshownKeyOpenSymbol		= '▼'
$jshownKeyClosedSymbol		= '►'

// Color theme
$jshownColorsKey			= #881391
$jshownColorsString			= #c41a16
$jshownColorsNumber			= #1c00cf
$jshownColorsInfinity		= #CCCC00
$jshownColorsNaN			= #FF6666
$jshownColorsNull			= $jshownColorsNaN
$jshownColorsBoolean		= #FF8000
$jshownColorsFunction		= #0080FF
$jshownColorsRegex			= #00CCCC
$jshownColorsUndefined		= $jshownColorsNaN
$jshownColorsDate			= #7F00FF
$jshownColorsError			= $jshownColorsDate

