// General styles
$jshownFontFamily 			= Consolas, 'Liberation Mono', Menlo, Courier, monospace
$jshownFontSize 			= 14px

// Info label
$jshownInfoFontSize 		= 14px
$jshownInfoColor			= darkgrey
$jshownInfoBackground		= whitesmoke

// Key
$jshownKeySymbolFontFamily	= Arial, sans-serif
$jshownKeySymbolFontSize	= 10px
$jshownKeyOpenSymbol		= '▼'
$jshownKeyClosedSymbol		= '►'

// Color theme
$jshownColorsKey			= #881391
$jshownColorsString			= #c41a16
$jshownColorsInteger		= #1c00cf

