.json-group
	font-family Consolas, 'Liberation Mono', Menlo, Courier, monospace
	width 100%
	float left
	box-sizing border-box

	> .key-label
		width auto
		float left
		box-sizing border-box
		position relative
		padding-left 15px
		margin-right 5px
		margin-bottom 2px
		color darkviolet

		.metadata
			font-size 12px
			color darkgrey
			padding 3px 4px 2px
			border-radius 3px
			background-color whitesmoke

		.metadata,
		.metadata .type,
		.metadata .size
			display inline-block
			margin-left 5px

		.metadata > span:last-child
			margin-right 5px

	> .key-label:before
		font-family Arial, sans-serif
		font-size 10px
		color darkgrey
		content '►'
		position absolute
		top 3px
		left 0

	&.open > .key-label:before
		content '▼'

	&.array > .key-label .metadata .size
		&:before
			content '['
		&:after
			content ']'

	&.object > .key-label .metadata .size
		&:before
			content '{'
		&:after
			content '}'

	&.with-children > .value-container
		display none

	> .value-container

		> .json-group
			padding-left 20px

	&.open > .value-container
		display block

	&.without-children > .key-label:before
		content ''

	&.string > .value-container > .single-value
		display inline-block
		margin-top 2px
		color tomato

		&:before,
		&:after
			content '"'
